body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.text-scroll {
    height: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.text {
    font-size: 5rem;
    padding-bottom: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #181818;
}

.text-group1,
.text-group2,
.text-group3,
.text-group4,
.text-group5 {
    transition: transform 0.6s ease;
    height: 4rem;
    display: flex;
    flex-direction: column;
}


.text-scroll:hover .text-group1,
.text-scroll:hover .text-group2,
.text-scroll:hover .text-group3,
.text-scroll:hover .text-group4,
.text-scroll:hover .text-group5 {
    transform: translateY(-5rem);
}

.text-group2 {
    transition-delay: 0.05s;
}

.text-group3 {
    transition-delay: 0.1s;
}

.text-group4 {
    transition-delay: 0.15s;
}

.text-group5 {
    transition-delay: 0.2s;
}